/* addcopy.css */

.add-copy-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1d2634ff; /* Dark blue background color */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    z-index: 2;
    max-width: 80%;
    width: 100%;
    max-height: 75vh; /* Maximum height of 75% of the viewport height */
    overflow-y: auto; /* Enable vertical scrolling */
    transition: top 0.3s; /* Add a transition for smooth movement */
  }
  
  .add-copy-container h2 {
    color: #90caf9; /* Light blue text color */
    margin-bottom: 20px;
    text-align: center; /* Center the heading */
  }
  
  .add-copy-container input {
    width: 85%; /* Make the search bar 100% width */
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f5f5f5;
    color: #000; /* Dark text color */
  }
  
  .add-copy-container table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 16px;
    max-height: 50vh; /* Maximum height of 50% of the viewport height for the table */
    overflow-y: auto; /* Enable vertical scrolling within the table */
  }
  
  .add-copy-container th,
  .add-copy-container td {
    border: 1px solid #90caf9; /* Light blue border color */
    padding: 8px;
    text-align: left;
    color: #90caf9; /* Light blue text color */
  }
  
  .add-copy-container th {
    background-color: #1a237e; /* Dark blue background color for header */
  }
  
  .add-copy-container td:first-child {
    width: 30px;
  }
  
  .num-of-copies-input {
    margin-top: 16px;
  }
  
  .num-of-copies-input label {
    display: block;
    margin-bottom: 8px;
    color: #90caf9; /* Dark text color */
    font-size: 1.25em;
  }
  
  .num-of-copies-input input {
    width: 50%; /* Adjusted width of the input field to 50% */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f5f5f5;
    color: #000; /* Dark text color */
  }
  
  .add-copy-container button {
    color: #90caf9; /* Light blue text color for button */
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
    display: block; /* Ensure the button is a block element */
    margin: 20px auto; /* Add margin and center the button horizontally */
  }

 .confirm-button1 {
  background-color: #012e5b;
 }
  
  .add-copy-container button:hover {
    background-color: #004080; /* Darker blue background color on hover */
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    color: #90caf9; /* Light blue text color for button */
    border: none;
    font-size: 1.5em;
    cursor: pointer;
  }
  
  .close-button:hover {
    color: #67aee8; /* Darker blue text color on hover */
  }
