/* booklist.css */

.booklist-main-container {
    grid-area: main;
    overflow-y: auto;
    padding: 20px;
    color: #9e9ea4;
    background-color: #1d2634;
  }
  
  .booklist-search-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 0.5px;
    margin-bottom: 10px;
    max-width: 85%;
  }
  
  .booklist-search-container input {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .booklist-search-icon {
    font-size: 20px;
    color: white;
    cursor: pointer;
  }
  
  .booklist-title-actions {
    display: flex;
    justify-content: space-between;
    color: white;
  }
  
  /* Updated styling for both buttons */
  .booklist-delete-button,
  .booklist-add-book-button {
    background-color: #2962ff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  /* Adjusted button color on hover */
  .booklist-delete-button:hover,
  .booklist-add-book-button:hover {
    background-color: #004080; /* A shade darker than the main color */
  }

  .booklist-buttons-container {
    display: flex;
    gap: 10px;
  }
  
  .booklist-table {
    margin-top: 20px;
  }
  
  .booklist-table table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .booklist-table th,
  .booklist-table td {
    border: 1px solid #8884d8;
    padding: 8px;
    text-align: left;
  }
  
  .booklist-table th {
    background-color: #2962ff;
    color: white;
  }
  
  /* Adjusted colors for 'Yes' and 'No' */
  .booklist-table td:last-child {
    color: white;
    font-weight: bold;
  }
  
  .booklist-table td.available {
    color: #2e7d32; /* Green */
  }
  
  .booklist-table td.unavailable {
    color: #d50000; /* Red */
  }

  .booklist-search-icon-container {
    display: flex;
    align-items: center;
    padding-left: 8px;
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 768px) {
    .booklist-title-actions {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .booklist-add-book-button,
    .booklist-delete-button {
      margin-top: 10px;
    }

    .booklist-search-container {
        max-width: 95%;
      }
  }