#addBookForm {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#addBookForm h2 {
  text-align: center;
}

#addBookForm label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

#addBookForm input[type="text"] {
  width: 95%;
  padding: 5px;
  margin-bottom: 10px;
}

#addBookForm input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

#addBookForm input[type="submit"]:hover {
  background-color: #0056b3;
}