/* booklist.css */

.booklist-main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 20px;
  color: #9e9ea4;
  background-color: #1d2634;
}

.booklist-search-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 0.5px;
  margin-bottom: 10px;
  max-width: 85%;
}

.booklist-search-container input {
  flex: 1;
  padding: 8px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
}

.booklist-search-icon {
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.booklist-title-actions {
  display: flex;
  justify-content: space-between;
  color: white;
}

.booklist-delete-button,
.booklist-add-book-button {
  background-color: #2962ff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.booklist-delete-button:hover,
.booklist-add-book-button:hover {
  background-color: #004080;
}

.booklist-buttons-container {
  display: flex;
  gap: 10px;
}

.booklist-table {
  margin-top: 20px;
}

.booklist-table table {
  width: 100%;
  border-collapse: collapse;
}

.booklist-table th,
.booklist-table td {
  border: 1px solid #8884d8;
  padding: 8px;
  text-align: left;
}

.booklist-table th {
  background-color: #2962ff;
  color: white;
}

.booklist-table td:last-child {
  color: white;
  font-weight: bold;
}

.booklist-table td.available {
  color: #2e7d32;
}

.booklist-table td.unavailable {
  color: #d50000;
}

.booklist-search-icon-container {
  display: flex;
  align-items: center;
  padding-left: 8px;
}

/* Add Book Form Styles */
.booklist-add-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1d2634;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  z-index: 2;
  max-width: 400px;
  width: 100%;
  
  .form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .close-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
}

.booklist-add-form button.center-align-button {
  width: 100%;
  margin-top: 20px;
}

.booklist-add-copy-button {
  background-color: #2962ff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.booklist-add-copy-button:hover {
  background-color: #004080;
}


.booklist-add-form h3 {
  color: #2962ff;
  margin-bottom: 20px;
}

.booklist-add-form label {
  display: block;
  margin-bottom: 8px;
  color: #fff;
}

.booklist-add-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #2c3849;
  color: #fff;
}

.booklist-add-form button {
  background-color: #2962ff;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
}

.booklist-add-form button:hover {
  background-color: #004080;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .booklist-title-actions {
      flex-direction: column;
      align-items: flex-start;
  }

  .booklist-add-book-button,
  .booklist-delete-button,
  .booklist-add-copy-button
   {
      margin-top: 10px;
  }

  .booklist-search-container {
      max-width: 95%;
  }
}
