/* dashboard.css */
.main-container {
    grid-area: main;
    overflow-y: auto;
    padding: 20px;
    color: #9e9ea4;
    background-color: #1d2634;
  }
  
  .main-title {
    display: flex;
    justify-content: space-between;
    color: white;
  }
  
  .main-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 15px 0;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1.5rem 3rem;
    border-radius: 5px;
    color: white;
    transition: transform 0.3s ease-in-out;
  }

  .card:hover {
    transform: scale(1.05); /* Added scale transformation on hover */
  }
  
  .card:first-child {
    background-color: #2962ff;
  }
  
  .card:nth-child(2) {
    background-color: #ff6d00;
  }
  
  .card:nth-child(3) {
    background-color: #2e7d32;
  }
  
  .card:nth-child(4) {
    background-color: #d50000;
  }
  
  .card-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .card-inner > .card_icon {
    font-size: 25px;
  }
  
  .charts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 60px;
    height: 23rem; /* Adjusted height value */
  }
  
  /* End Main */
  
  /* Responsive Styles */
  @media screen and (max-width: 768px) {
    .main-cards {
      grid-template-columns: 1fr;
      gap: 10px;
      margin-bottom: 0;
    }
  
    .charts {
      grid-template-columns: 1fr;
      margin-top: 10px;
    }
  }