.header {
  grid-area: header;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
}

.menu-icon {
  display: none;
}

.header-left-icon {
  font-size: 27px; /* Adjusted font size for the header-left-icon */
}
/* End Header */

/* Responsive Styles */
@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas: 'header' 'main';
  }

  #sidebar {
    display: none;
  }

  .menu-icon {
    display: inline;
  }



  .sidebar-title > span {
    display: inline;
  }
}
@media screen and (max-width: 576px) {
  .header-left {
    display: none;
  }
}