.container {
    grid-area: main;
    overflow-y: auto;
    padding: 20px;
    color: #9e9ea4;
    background-color: #1d2634;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.user-input {
    margin: 10px 0;
}

.user-input label,
.book-input label {
    font-weight: bold;
    margin-right: 10px;
}

.user-input input,
.book-input input {
    width: 50%;
    padding: 5px;
    margin-top: 5px;
}

.container button {
    border-radius: 10px;
}

.action-button {
    background-color: #007bff;
    color: #fff;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    margin: 10px 5px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.button-group button {
    padding: 5px;
    border-radius: 0;
    border: none;
}

.book-input {
    margin: 10px 0;
}

.error {
    color: red;
    margin-top: 10px;
}