.Settings {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.Settings input {
  margin-bottom: 15px;
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 250px;
}

.Settings p {
  color: red;
  margin-bottom: 10px;
}

.Settings button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  width: max-content;
}

.Settings button:hover {
  background-color: #0056b3;
}
